extends layout

block content
  if (user.username =="teamjuan")
   #page-content.container
    .row
      .col-md-8.col-md-offset-1
        // CONTENT
        br
        .login-container
          .page-header
            h1
              center
                | Welcome Admin
            h3
              center  
                | Add videos Now

          form.form-horizontal(method= 'POST', action= '/videos/new', onsubmit= 'return validateTaskForm()')
            .row
              br
              br
              br
              .col-md-8.col-md-offset-1
                center
                  if (status)
                        h4(style= "padding: 1%")= status
                        br
              br
              .col-md-10.col-md-offset-3
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Title
                  input.form-control(name='videoTitle', type='text', placeholder='Algebra Tutorial', aria-describedby='sizing-addon1')
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Embed
                  input.form-control(name='videoEmbed', placeholder='https://www.youtube.com/embed/T8B8Tcz8kog', aria-describedby='sizing-addon1')
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Details
                  input.form-control(name='videoDetails', type='text', rows='3', cols='10', placeholder='Finding X', aria-describedby='sizing-addon1')
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Category
                  select.form-control(name='videoCategory')
                    option(value='No Category' , selected='') No Category
                    option(value='Mathematics') Mathematics
                    option(value='English') English
                    option(value='Filipino') Filipino
                    option(value='Science') Science
                    option(value='MAPEH') MAPEH (Music, Arts, P.E. Health)
                    option(value='AP') Araling Panlipunan
                    option(value='Values') Values
                br
                br
                br
                .col-md-5.col-md-offset-2
                  center
                    .btn-group
                      button.btn.btn-primary(name='submit', type='submit') Add To List
                p
        .panel-login-footer
          .box-content
            h3
              center
                | Check out Requests?
                br
                p
                .btn-group
                  a(href= '/requests')
                    button.btn.btn-success(type='button') Click Here
  else
    a.site-brand
      .box-content
        h3.widget-title R E S T R I C T E D - A R E A  