extends layout

block content

  if (!user)
    #page-content.container
      .row
        .col-md-8.col-md-offset-1
          // CONTENT
          br
          .login-container
            .page-header
              h1
                center
                  | EDUCATIONAL STREAMING
              h3
                center  
                  | Standards-based education material covering a broad range of subjects.  
                  p
                  br
                  a(href='/videos/Values')   
                    img(src='../images/values.png', alt='')
                  &nbsp; 
                  a(href='/videos/Science')   
                    img(src='../images/science.png', alt='')
                  &nbsp; 
                  a(href='/videos/Math')  
                    img(src='../images/math.png', alt='')
                  p
                  a(href='/videos/English')
                    img(src='../images/english.png', alt='')
                  p
                  a(href='/videos/Filipino')
                    img(src='../images/filipino.png', alt='')
                  &nbsp; 
                  a(href='/videos/AralingPanlipunan')   
                    img(src='../images/ap.png', alt='')
                  &nbsp; 
                  a(href='/videos/Mapeh')   
                    img(src='../images/mapeh.png', alt='')
                  br
            .page-header
              h3
                center 
                  br
                  | Take the world's best lessons, Online.
                  br
                  br
          .panel-index-footer
            .box-content
              h4
                center
                  | Sign-up today to join over a million learners on Ed-Streaming.
                  br
                  p
                  .btn-group
                    a(href= '/auth/register')
                      button.btn.btn-danger(type='button') Create an Account
            br
            .box-content
              h4
                center
                  | or continue studying now.
                  br
                  p
                  .btn-group
                    a(href= '/auth/login')
                      button.btn.btn-primary(type='button') Log in Now
        p 
      
  else
    #page-content.container
      .row
        .col-md-8.col-md-offset-1
          // CONTENT
          br
          .login-container
            .page-header
              h1
                center
                  | WELCOME
              h2
                center  
                  | #{user.first_name} #{user.last_name}!
              h4
                center  
                  | Standards-based education material covering a broad range of subjects.  
                  p
                  br
                  a(href='/videos/Values')   
                    img(src='../images/values.png', alt='')
                  &nbsp; 
                  a(href='/videos/Science')   
                    img(src='../images/science.png', alt='')
                  &nbsp; 
                  a(href='/videos/Math')  
                    img(src='../images/math.png', alt='')
                  p
                  a(href='/videos/English')
                    img(src='../images/english.png', alt='')
                  p
                  a(href='/videos/Filipino')
                    img(src='../images/filipino.png', alt='')
                  &nbsp; 
                  a(href='/videos/AralingPanlipunan')   
                    img(src='../images/ap.png', alt='')
                  &nbsp; 
                  a(href='/videos/Mapeh')   
                    img(src='../images/mapeh.png', alt='')
                  br
            .page-header
              h3
                center 
                  br
                  | Take the world's best lessons, Online.
                  p
                  br
          .panel-index-footer
            .box-content
              h4
                center
                  | Help us by sending a Video Request.
                  br
                  p
                  .btn-group
                    a(href= '/requests/new')
                      button.btn.btn-success(type='button') Send a Request
            br
            .box-content
              h4
                center
                  | or continue studying now.
                  br
                  p
                  .btn-group
                    a(href= '/videos')
                      button.btn.btn-warning(type='button') Check Out Videos
        p 
              

            
            
