extends layout

block content
   #page-content.container
    .row
      .col-md-8.col-md-offset-1
        // CONTENT
        br
        .login-container
          .page-header
            h1
              center
                | Help Us. Send a Request
            h3
              center  
                | Requests will be reviewed by the Admins before publishing

          form.form-horizontal(method= 'POST', action= '/requests/new', onsubmit= 'return validateTaskForm()')
            .row
              br
              br
              br
              .col-md-10.col-md-offset-3
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Title
                  input.form-control(name='reqVideoTitle', type='text', placeholder='Algebra Tutorial', aria-describedby='sizing-addon1')
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Embed
                  input.form-control(name='reqVideoEmbed', placeholder='https://www.youtube.com/embed/T8B8Tcz8kog', aria-describedby='sizing-addon1')
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Details
                  input.form-control(name='reqVideoDetails', type='text', rows='3', cols='10', placeholder='Finding X', aria-describedby='sizing-addon1')
                p
                p
                .input-group
                  span#sizing-addon1.input-group-addon Video Category
                  select.form-control(name='reqVideoCategory')
                    option(value='No Category' , selected='') No Category
                    option(value='Mathematics') Mathematics
                    option(value='English') English
                    option(value='Filipino') Filipino
                    option(value='Science') Science
                    option(value='MAPEH') MAPEH (Music, Arts, P.E. Health)
                    option(value='AP') Araling Panlipunan
                    option(value='Values') Values
                br
                br
                br
                .col-md-5.col-md-offset-2
                  center
                    .btn-group
                      button.btn.btn-primary(name='submit', type='submit') Send a Request
                p
        .panel-login-footer
          .box-content
            h3
              center
                | Wanna Learn Now?
                br
                p
                .btn-group
                  a(href= '/videos')
                    button.btn.btn-success(type='button') Check Videos
        p 
     