extends layout

block content

  #page-content.container
    br
    br
    .row
      .col-md-8
        .video-container
        iframe(width= '600', height= '400', src= videoInfo.videoEmbed, frameborder= '0', allowfullscreen)
        br
      .col-md-4
          center
            h3  #{videoInfo.videoTitle} 
          br
          form.task-form(action='/videos', method='get')
            .row
              br
              p 
                | #{videoInfo.videoDetails}
              br
              p
                br
                | #{videoInfo.videoDate}
              br
              center
                if (user.username == "teamjuan")
                  .btn-group(role='group', aria-label='...')
                    a.red-text(href= '/videos/' + videoInfo._id + '/edit')
                      button.btn.btn-success(type='button') Update
                    &nbsp;
                    a.red-text(href= '/videos')
                      button.btn.btn-primary(type='button') Back to List
                    &nbsp;
                    a.red-text(href= '/videos/' + videoInfo._id + '/delete', onclick= 'return confirmDelete()')
                      button.btn.btn-warning(type='button') Delete video
        form.form-horizontal(method= 'POST', action= '/comments/new')
          .row
            br
            br
            br
            p
            .input-group
              input.form-control(name='idComment', type='text', value= videoInfo._id, aria-describedby='sizing-addon1', readonly)
            .input-group
              input.form-control(name='userComment', type='text', value= user.username, aria-describedby='sizing-addon1', readonly)
            .input-group
              input.form-control(name='videoComment', type='text',  aria-describedby='sizing-addon1')
            .btn-group
              button.btn.btn-success(name='submit', type='submit') Comment
            p
      br