extends layout

block content


  #page-content.container
    br
    br
    .row
      .col-md-8
        .video-container
          iframe(width= '600', height= '400', src= videoInfo.videoEmbed, frameborder= '0', allowfullscreen)
        br
      .col-md-4
          center
            h3  #{videoInfo.videoTitle} 
          br
          form.task-form(action='/videos', method='get')
            .row
              br
              p 
                | #{videoInfo.videoDetails}
              br
              p
                br
                | #{videoInfo.videoDate}
              br
              if (user.username == "teamjuan")
                a.red-text(href= '/videos/' + videoInfo._id + '/edit')
                  button.button3(type='button') U P D A T E
                a.red-text(href= '/videos')
                  button.button3(type='button') B A C K
                a.red-text(href= '/videos/' + videoInfo._id + '/delete', onclick= 'return confirmDelete()')
                  button.button3(type='button') D E L E T E
        br

  form.form-horizontal(method= 'POST', action= '/videos/newcomment')
    .row
      br
      br
      br
      .col-md-10.col-md-offset-3
        p
        p
        .input-group
          input.form-control(name= 'videoComment', type='text',  aria-describedby='sizing-addon1')
        .btn-group
          button.btn.btn-success(name='submit', type='submit') Comment
        p
  br