extends layout

block content

  if (user.username == "teamjuan")
    #page-content.container
      .row
        .col-md-8.col-md-offset-1
          // CONTENT
          br
          .login-container
            .page-header
              h1
                center
                  | #{requestInfo.reqVideoTitle}
                  p
              h5
                center  
                  | #{requestInfo.reqVideoDetails}
                  p
                  | Requested by: #{requestInfo.reqUsername}, #{requestInfo.reqVideoDate}
                  p
            br
            p

        .col-md-10.col-md-offset-2
          p
          p
          br
          .video-container
              iframe(width= '650', height= '400', src= requestInfo.reqVideoEmbed, frameborder= '20', allowfullscreen)
              br
            form.task-form(action='/requests', method='get')
              p
              br
              .row
                .col-md-7.col-md-offset-2
                  if (user.username == "teamjuan")
                    .btn-group(role='group', aria-label='...')
                      &nbsp;
                      a.red-text(href= '/requests/' + requestInfo._id + '/edit')
                        button.btn.btn-success(type='button') Update/Accept
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      a.red-text(href= '/requests')
                        button.btn.btn-primary(type='button') Back to List
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      a.red-text(href= '/requests/' + requestInfo._id + '/delete', onclick= 'return confirmDelete()')
                        button.btn.btn-warning(type='button') Delete 
                p
                br
                p
                br
  else
    a.site-brand
      .box-content
        h3.widget-title3 N O - P E R M I S S I O N