extends layout

block content


  #page-content.container
    br
    br
    .row
      .col-md-8
        .video-container
          iframe(width= '600', height= '400', src= videoInfo.videoEmbed, frameborder= '0', allowfullscreen)
        br
      .col-md-4
          center
            h3  #{videoInfo.videoTitle} 
          br
          form.task-form(action='/videos', method='get')
            .row
              br
              p 
                | #{videoInfo.videoDetails}
              br
              p
                br
                | #{videoInfo.videoDate}
              br
              center
                if (user.username == "teamjuan")
                  .btn-group(role='group', aria-label='...')
                    a.red-text(href= '/videos/' + videoInfo._id + '/edit')
                      button.btn.btn-success(type='button') Update
                    &nbsp;
                    a.red-text(href= '/videos')
                      button.btn.btn-primary(type='button') Back to List
                    &nbsp;
                    a.red-text(href= '/videos/' + videoInfo._id + '/delete', onclick= 'return confirmDelete()')
                      button.btn.btn-warning(type='button') Delete video
        br

  form.form-horizontal(method= 'POST', action= '/:videoId/newcomment')
    .row
      br
      br
      br
      .col-md-10.col-md-offset-3
        p
        p
        .input-group
          input.form-control(name= 'videoComment', type='text',  aria-describedby='sizing-addon1')
        .btn-group
          button.btn.btn-success(name='submit', type='submit') Comment
        p
  br